<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{school[0][1]}}</title>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js" charset="utf8"></script>
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div id="content" class="border_style">
        <div style="display:inline-block; width: 90%;">
            <div class="line"></div>
            <h1 style="color: white; text-align: center; margin-left: 10%;"> {{id}}.  {{school[0][0]}}</h1>
        </div>
        <p>{{school[0][1]}}......</p>
    </div>
    <!-- <div id="test"></div> -->
    <div id="score"></div>
    <div id="round">
        <div id="round1"></div>
        <div id="round2"></div>
        <div id="round3"></div>
        <div id="round4"></div>
        <div id="roundname">
            <span class="name1">学习指数</span>
            <span class="name2">生活指数</span>
            <span class="name3">就业指数</span>
            <span class="name4">综合指数</span>
        </div>
    </div>
    <script src="../static/js/province_c1.js"></script>
    <script src="../static/js/round1.js"></script>
    <script src="../static/js/round2.js"></script>
    <script src="../static/js/round3.js"></script>
    <script src="../static/js/round4.js"></script>
    <script src="../static/js/controller2.js"></script>
    <script src="../static/js/province_score.js"></script>
</body>
</html>