<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专业详细分数</title>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js" charset="utf8"></script>
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body style="color: white;">
    <div id="title">
        <div>{{school_name}}</div>
    </div>
    <div id="title" style="top: 7%;">{{spname}}</div>
    <div id="specialscore"></div>
    <script src="../static/js/controller3.js"></script>
    <script src="../static/js/specialscore.js"></script>
</body>
</html>